@import url('http://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

// html, body {
//     font-size: 16px;
//     color: white;
// }

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 28px;
}

h2, h3, p, a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 20px;
    letter-spacing: 2px;
}

h3 {
    font-size: 14px;
    letter-spacing: 2px;
}

// h4 {font-size: 14px;
//     letter-spacing: 2px;
// }
  
p, .dropdown-content {
    font-size: 12px;
    letter-spacing: 1px;
}
  
.music h2 {
    margin-bottom: -8px;
    letter-spacing: 4px;
  }

.music p {
letter-spacing: 2px;
}